<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<% if user_signed_in? %>
  <%= current_user.name %><br>
  <%= current_user.role %><br>
  <%= link_to 'Sair', sair_path, method: :delete %>
  <%= link_to 'Criar conta',  new_user_path %>
<% else %>
  <%= link_to 'Entrar',  entrar_path %>
  <%= link_to 'Criar conta',  new_user_path %>
<% end %>
